/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--clr-btn-hover: rgb(245, 151, 140);
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--border: 2px solid red;
}

/*
=============== 
global classes
===============
*/
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
span{
	color: var(--clr-primary);
}
.section-center{
	margin: 0 auto;
	max-width: 1170px;
}
/*
======================
end of global classes
======================
*/


/*
======================
banner section
======================
*/
.heading-font{
	font-family: var(--ff-secondary);
}
.banner-heading{
	position: relative;
  padding-left: 1rem;
}
.btn-explore{
  background: var(--clr-primary);
  color: var(--clr-white);
}
.btn-explore:hover{
  background: var(--clr-btn-hover);
  color: var(--clr-white);
}
.banner-heading::before{
	content: "";
	width: 1%;
	height: 80%;
	background: var(--clr-primary);
	position: absolute;
	left: 0;
	top: 10%;
	border-radius: 10px;
}
/*
======================
end of banner section
======================
*/

/*
======================
My mission section
======================
*/
.card-1{
	background-color: rgb(200, 241, 241);
}
.card-2{
	background-color: rgb(241, 207, 203);
}
.card-3{
	background-color: rgb(243, 225, 209);
}
/*
=========================
end of My mission section
=========================
*/